<!--about-->
<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="section-title">
                    <h2 class="head-title lg-line">NAXAM <br>Ultimate Dream</h2>
                    <hr class="botm-line">
                    <p class="sec-para">NAXAM was found to become the most wanted mobile development company from Vietnam, especially in Xamarin. NAXAM aims to deliver great development services by passionate engineers.</p>
                    <!--<a href="" style="color: #0cb8b6; padding-top:10px;">Know more..</a>-->
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div style="visibility: visible;" class="col-sm-9 more-features-box">
                    <div class="more-features-box-text">
                        <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
                        <div class="more-features-box-text-description">
                            <h3>It's the first Xamarin Premier Partner in Vietnam</h3>
                            <p>We are preparing to be the first Xamarin Premier Partner in Vietnam where we prove our strong capability in cross-platform development with Xamarin.</p>
                        </div>
                    </div>
                    <div class="more-features-box-text">
                        <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
                        <div class="more-features-box-text-description">
                            <h3>It's mobile first, cloud first and Scrum first.</h3>
                            <p>We strongly focus on mobile development with cloud integration using Scrum development approach.</p>
                        </div>
                    </div>
                    <div class="more-features-box-text">
                        <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
                        <div class="more-features-box-text-description">
                            <h3>It's Open Source/Community oriented.</h3>
                            <p>We support and do Open Source because we use a lot of them to form up our applications. We also sponsor local community on free trainings and provide paid intership.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ about-->