<!--contact-->
<section id="contact" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ser-title">Contact us</h2>
                <hr class="botm-line">
            </div>
            <!--<div class="col-md-8 col-sm-8 marb20">
                <div class="contact-info">
                        <h3 class="cnt-ttl">Having Any Query?</h3>
                        <div class="space"></div>
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control br-radius-zero" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control br-radius-zero" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control br-radius-zero" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control br-radius-zero" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>
                            
                            <div class="form-action">
                                <button type="submit" class="btn btn-form">Send Message</button>
                            </div>
                        </form>
                </div>
            </div>-->
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="space"></div>
                <p><a href="https://www.google.com/maps/place/Nhà+A17,+Tạ+Quang+Bửu,+Bách+Khoa,+Hai+Bà+Trưng,+Hà+Nội,+Vietnam/@21.0038721,105.8454582,17z/data=!3m1!4b1!4m5!3m4!1s0x3135ac743bb83537:0xf3f7a91f010a8ef0!8m2!3d21.0038818!4d105.847607" target="_blank"><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>F3, A17 Building, 17 Ta Quang Buu<br>
                Hanoi, Vietnam</a></p>
                <div class="space"></div>
                <p><a href="mailto:services@naxam.net?subject=Ask for mobile application development"><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>services@naxam.net</a></p>
                <div class="space"></div>
                <p><a href="tel:+84986119552"><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+84 98 611 9552</a></p>
                <div class="space"></div>
            </div>
            <div class="col-md-8 col-sm-8">
                <iframe style="height: 288px; width: 100%; border: none;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.7196522783056!2d105.8454582150753!3d21.003872086011814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac743bb83537%3A0xf3f7a91f010a8ef0!2zTmjDoCBBMTcsIFThuqEgUXVhbmcgQuG7rXUsIELDoWNoIEtob2EsIEhhaSBCw6AgVHLGsG5nLCBIw6AgTuG7mWksIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1491489295151" width="100%" height="240" frameborder="0" style="border:0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</section>
<!--/ contact-->