<!--service-->
<section id="service" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2 class="ser-title">Our Services</h2>
                <hr class="botm-line">
                <p>We are building mobile applications using the most trending technologies with world-class quality, delivered by well-trained, passionate and craftmanship engineers. Our services are ranging from new application development to maintenance, hot support/bug fixes and consulting. Our application development could also include UI/UX design as well as backend development/integration.</p>
            </div>
        </div>
        <div class="row" style="padding-top: 32px;">
            <div class="col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="service-icon">
                        <img class="service-logo" src="/assets/img/xamagon-128.png" alt="Cross-platform Development with Xamarin" />
                    </div>
                    <div class="icon-info">
                        <h4>Cross-platform Development <br/>with Xamarin</h4>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
                    </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <img class="service-logo" src="/assets/img/swift-og.png" alt="iOS Development with Swift/Objective-C" />
                    </div>
                    <div class="icon-info">
                        <h4>iOS Development <br/>with Swift/Objective-C</h4>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="icon">
                        <img class="service-logo" src="/assets/img/react-native.png" alt="Cross-platform development with React Native" />
                    </div>
                    <div class="icon-info">
                        <h4>Cross-platform Development <br/>with React Native</h4>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
                    </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <img class="service-logo" src="/assets/img/java-logo.png" alt="Android Development with Java"/>
                    </div>
                    <div class="icon-info">
                        <h4>Android Development <br/>with Java</h4>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="icon">
                        <img class="service-logo" src="/assets/img/msazurelogo.png" alt="Cloud Integration with Azure" />
                    </div>
                    <div class="icon-info">
                        <h4>Cloud Integration <br/>with Azure</h4>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
                    </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <img class="service-logo" src="/assets/img/aspnet.png" alt="Backend Development with ASP.NET" />
                    </div>
                    <div class="icon-info">
                        <h4>Backend Development <br/>with ASP.NET</h4>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ service-->